<div class="coursenav">
    <!--<ul>
        <li class="has-sub"> 
            <div style="height: 50px;">Menu 1</div>
    -->
    <ul ng-repeat="course in courseContent">
        <li ng-class="{'has-sub':course.children && course.children.length > 0}">
            <div class="coursenav-tile">
                {{course.node_name}}
                <!--build a tile with other icons here like download-->
            </div>
            <ul ng-if="course.children && course.children.length > 0">
                <li ng-repeat="child in course.children">
                    <div class="coursenav-tile" ng-click="triggerContentView(child)">
                        <span>{{child.node_name}}</span>
                        <span class="glyphicon glyphicon-download-alt coursenav-download"
                            ng-click="triggerDownload(child);$event.stopPropagation();"></span>
                    </div>
                    
                </li>
            </ul>
        </li>
    </ul>
</div>




