<div class="coursenav">
  <!--<ul>
      <li class="has-sub">
          <div style="height: 50px;">Menu 1</div>
  -->
  <ul ng-repeat="course in courseContent">
    <li ng-class="{'has-sub':course.children && course.children.length > 0}">
      <div class="coursenav-tile" ng-click="outerContentView(course);;$event.stopPropagation();" ng-class="{'click': !course.children.length}">
        {{course.node_name}}
        <span ng-if="course.children.length > 0" class="glyphicon glyphicon-hand-right pull-right"></span>
        <span ng-if="!course.children || course.children.length == 0"
              class="glyphicon glyphicon-download-alt coursenav-download myicon"
              ng-click="triggerDownload(course);$event.stopPropagation();">
                </span>
        <!--build a tile with other icons here like download-->
      </div>
      <ul ng-if="course.children && course.children.length > 0">
        <li ng-repeat="child in course.children">
          <div class="coursenav-tile click" ng-click="triggerContentView(child);$event.stopPropagation();">
            <span>{{child.node_name}}</span>
            <span class="glyphicon glyphicon-download-alt coursenav-download pull-right myicon"
                  ng-click="triggerDownload(child);$event.stopPropagation();">
                </span>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</div>




