<header></header>
<div class="container-fluid main-container">
    <div>
        <div class="row">
             <!-- ng-if here is for forcing redraw of the navmenu on media resize -->
            <div id="coursenav-container"class="col-lg-3 col-md-3 col-sm-3" ng-if="!showCollapseCourseNav">
                <coursenav content="revisionCourse.content"></coursenav>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div ng-class="{'pdfWait':loadingpdf}"></div>
                <div class="coursenav-menu-collapse" ng-click="toggleCollapseCourseNav()">
                    <span 
                        ng-class="!showCollapseCourseNav?'glyphicon glyphicon-menu-hamburger':'glyphicon glyphicon-remove'">
                    </span>
                </div>
                <div class="coursenav-menu-collapse-container" ng-if="showCollapseCourseNav">
                    <coursenav content="revisionCourse.content"></coursenav>
                </div>
                <div ng-if="showGView">
                    <div class="row courseview-title">
                        <div class="heading">
                            <span class="coursenav-parent-title">{{contentNode.parent_name}}</span>
                            <span>{{contentTitle}}</span>
                        </div>
                        <div class="show-answers">
                            <div class="btn btn-info" ng-if="contentNode.solution_file && contentNode.solution_file!=''"
                                    ng-click="showAnswerAcceptPopup()"
                                    data-toggle="modal" data-target="">
                                    {{answerText}}
                            </div>
                        </div>
                        <div style="margin-right:20px ">
                            <span class="glyphicon glyphicon-download-alt coursenav-download "
                                ng-click="downloadpdf();$event.stopPropagation();">
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <iframe ng-src="{{gViewUrl | trusted}}"frameborder="0"
                            class="pdf-container" onload="pdfLoaded()">
                        </iframe>
                    </div>
                </div>
                <div ng-if="!showGView">
                  <div ng-include="frameUrl"></div>
                    <!--<iframe ng-src="{{frameUrl | trusted}}"
                        class="pdf-container" frameborder="0"></iframe>-->
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>
<!-- Modal -->
<div id="showAnswersModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Confirm - Show Answers</h4>
      </div>
      <div class="modal-body">
        <p>Are you sure you want to reveal answers for <strong>{{contentTitle}}?</strong></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-info" data-dismiss="modal" ng-click="showAnswers()">Yes</button>
        <button type="button" class="btn btn-warning" data-dismiss="modal">No</button>
      </div>
    </div>

  </div>
</div>