<header></header>
<div class="container-fluid main-container">
    <div>
        <div class="row">
            <div id="coursenav-container"class="col-lg-3 col-md-3 col-sm-3">
                <coursenav content="revisionCourse.content"></coursenav>
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9">
                <div ng-class="{'pdfWait':loadingpdf}"></div>
                <div class="coursenav-menu-collapse" ng-click="toggleCollapseCourseNav()">
                    <span class="glyphicon glyphicon-menu-hamburger"></span>
                </div>
                <div class="coursenav-menu-collapse-container" ng-if="showCollapseCourseNav">
                    <coursenav content="revisionCourse.content"></coursenav>
                </div>
                <div ng-if="showGView">
                    <div class="row courseview-title">
                        <div class="heading"> {{contentTitle}}</div>
                        <div>
                            <span class="glyphicon glyphicon-download-alt coursenav-download "
                                ng-click="downloadpdf();$event.stopPropagation();">
                            </span>
                        </div>
                    </div>
                    <div class="row">
                        <iframe ng-src="{{gViewUrl | trusted}}"frameborder="0"
                            class="pdf-container" onload="pdfLoaded()">
                        </iframe>
                    </div>
                </div>
                <div ng-if="!showGView">
                  <div ng-include="frameUrl"></div>
                    <!--<iframe ng-src="{{frameUrl | trusted}}"
                        class="pdf-container" frameborder="0"></iframe>-->
                </div>
            </div>
        </div>
    </div>
</div>
<footer></footer>
