<header></header>
<div class="conainer-fluid main-container">
    <div class="row-fluid">
        <div class="card" style="width: 27rem; margin: 0 auto;text-align: center">
            <div style="width:150px;height: 150px; margin: 0 auto;">
                <img class="card-img-top img-responsive img-circle" src="/images/avatar.png" 
                    ng-src="{{tutorinfo.profilepic}}" alt="Tutuor Avatar"
                  style="height: 100%; margin: 0 auto;">
            </div>
            <div class="card-block">
                <h4 class="card-title">
                    <span>{{tutorinfo.name}}</span>
                    <br>
                    <div style="display: inline-flex; font-size: 65%; visibility: hidden">
                        <span class="glyphicon glyphicon-map-marker" style="margin-right: 5px;"></span>
                        <span> {{tutorinfo.location}}</span>
                    </div>
                </h4>
                <p class="card-text">
                    <div class="tinfo-tile">
                        <img  class="img-responsive img-circle"src ="/images/phone.png" />
                        <span>
                            {{tutorinfo.phoneNumber}}
                        </span>
                    </div>
                    <div class="tinfo-tile">
                        <img src ="/images/email.png" />
                        <span>
                            {{tutorinfo.email}}
                        </span>
                    </div>                    
                </p>
            </div>
        </div>
    </div>
</div>
<footer></footer>