<header></header>
<div class="conainer-fluid main-container">
    <div class="row-fluid">
        <div class="card" style="width: 20rem; margin: 0 auto;text-align: center">
            <img class="card-img-top img-responsive" src="/images/avatar.png" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title">
                    <span>Ramesh Kumar</span>
                    <div style="display: inline-flex">
                        <span class="glyphicon glyphicon-map-marker"></span>
                        <span> Malleshwaram</span>
                    </div>
                </h4>
                <p class="card-text">
                    <div><img  class="img-responsive img-circle" src ="/images/phone.png" /><span>+ 91 9800003333</span></div>
                    <div><img src ="/images/email.png" /><span>rameshkumar69@gmail.com</span></div>                    
                </p>
            </div>
        </div>
    </div>
</div>