body {
  padding: 0;
  background: #F2F2F2;
  height: 100%
}

.vnlogo-center  {
    margin: 0 auto;
    height: 50px;
    margin-top: 10px;
}
.vnlogo-header  {
    /*margin: 0 auto;*/
    height: 50px;
    margin-top: 0.5em;
}
.drop-shadow {
      -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
      box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  }
  .container.drop-shadow {
      padding-left:0;
      padding-right:0;
  }
.img-illustration{
  height: 400px;
  margin: 50px;
}

.rbuddy-header {
  font-size: 300%;
  text-align: center;
}
.login-container{
  margin: 50px;
}
.login-btn{
  background: #F58635;
  color: white;
  padding: 10px 26px;
  border-radius: 3px;
}
.login-btn:hover {
  background-color: #F58635;
  color: white;
}
.login-btn:focus {
  background-color: #F58635;
  color: white;
}
.login-btn:active {
  background-color: #F58635;
  color: white;
}
.subject-icon{
  width: 60%;
  margin: 0 auto;
  margin-bottom: 20px;
}
.subject-icon :hover{
  -webkit-box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, .5);
      box-shadow: 0px 0px 18px 6px rgba(0, 0, 0, .5);
}
.subject-title{
  font-size: 120%;
  text-align: center;
  font-weight: 600;
}
.select-course{
  font-size: 200%;
  text-align: center;
}
.main-container{
  margin-top: 90px;
}
.footer{
  position: fixed;
  bottom: 0px;
  left:0px;
  background: white;
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 120%;
  z-index: 1050;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}
.header{
  position: fixed;
  top: 0px;
  left:0px;
  background: white;
  width: 100%;
  height: 70px;
  z-index: 1050;
  -webkit-box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
  box-shadow: 0 0 5px 2px rgba(0, 0, 0, .5);
}
.header-dropdown{
  margin-top: 1.1em;
  text-align: center;
  width: 200px;
}
.header-dropdown-btn{
    background: white;
    border-color: rgba(0, 0, 0, 0.15);
    text-align: left;
    font-size: 120%;
    padding: 0 10px 5px 5px;

    border-radius: 3px;
}
.header-dropdown-list{
  width: 200px;
}
.tile{
  background: white;
  height: 35px;
  font-size: 120%;
  text-align: left;
  cursor: pointer;
   padding-left: 5px;
}
.tile:hover{
  background: gray;
}
.glyphicon.glyphicon-one-fine-dot:before {
    content: "\25cf";
    font-size: 1.5em;
}
.header-username{
  font-size: 120%;
  font-weight: 600;
}
.pdfWait{
    position: absolute;
    width: 100%;
    height: 450px;
    left: 0px;
    top: 60px;
    z-index: 300;
    background: url("/images/loader.gif") no-repeat 50% 50%;
    background-color: rgba(0, 0, 0, 0.15);
}

.download-icon{
    width: 25px;
    height: 25px;
    padding-left: 12px;
    color:#C7C7C7;
}
.download-icon:hover{
    /*background: rgba(158, 158, 158, 0.89);
    border-radius: 15px;*/
    width: 25px;
    height: 25px;
    padding-left: 12px;
    color: #4D4D4D;
}
.courseview-title{
  height: 50px;
  background: white;
  vertical-align: middle;
  line-height: 50px;
  display: flex;
  margin-bottom: 10px;
  padding-left: 10px;
  border-radius: 2px;
}
.heading{
  font-size: 120%;
  font-weight: 600;
  width: 95%;
}
/** css for side course coursenav bar **/
.coursenav {
  padding: 0;
  margin: 0;
  border: 0;
  line-height: 1;
  z-index: 500;
}

.coursenav ul,
.coursenav ul li,
.coursenav ul ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.coursenav ul {
  position: relative;
  z-index: 500;
  float: left;
}

.coursenav ul li {
  float: left;
  min-height: 0.05em;
  line-height: 1em;
  vertical-align: middle;
  position: relative;
  border-left: 1px solid #cccccc;
}

.coursenav ul li.hover,
.coursenav ul li:hover {
  position: relative;
  z-index: 510;
  cursor: default;
}

.coursenav ul ul {
  visibility: hidden;
  position: absolute;
  top: 100%;
  left: 0px;
  z-index: 520;
  width: 100%;
}

.coursenav ul ul li { float: none; }

.coursenav ul ul ul {
  top: 0;
  right: 0;
}

.coursenav ul li:hover > ul { visibility: visible; }

.coursenav ul ul {
  top: 0;
  left: 99%;
}

.coursenav ul li { float: none; }

/*.coursenav ul ul { margin-top: 0.05em; }*/

.coursenav {
  width: 100%;
  background:white;
  font-family: 'Noto Sans', Tahoma, Arial, sans-serif;
  zoom: 1;
}

.coursenav:before {
  content: '';
  display: block;
}

.coursenav:after {
  content: '';
  display: table;
  clear: both;
}

.coursenav a, .coursenav div  {
  display: block;
  padding: 1em 1.3em;
  color: black;
  text-decoration: none;
  text-transform: uppercase;
}

.coursenav > ul { width: 100%; }

.coursenav ul ul { width: 100%; }

.coursenav > ul > li > a, .coursenav > ul > li > div {
  /*border-right: 0.3em solid white;*/
  color: #3d3d3d;
  border-bottom:1px solid #e8e8e8;
  border-right:1px solid #e8e8e8;
}

.coursenav > ul > li > a:hover { color: #ffffff; }

.coursenav > ul > li a:hover,.coursenav > ul > li div:hover,
.coursenav > ul > li:hover div,
.coursenav > ul > li:hover a {
    background:#29ABE2;
    color: white;
    display: block;
    overflow-wrap: break-word;
  }

.coursenav li { position: relative; }

.coursenav ul li.has-sub > a:after,.coursenav ul li.has-sub > div:after {
  /*content: '>';*/

  position: absolute;
  right: 1em;
}

.coursenav ul ul li.first {
  -webkit-border-radius: 0 3px 0 0;
  -moz-border-radius: 0 3px 0 0;
  border-radius: 0 3px 0 0;
}

.coursenav ul ul li.last {
  -webkit-border-radius: 0 0 3px 0;
  -moz-border-radius: 0 0 3px 0;
  border-radius: 0 0 3px 0;
  border-bottom: 0;
}

.coursenav ul ul {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}

/*.coursenav ul ul { border: 1px solid #F58635; }*/

.coursenav ul ul a, .coursenav ul ul div { color: #ffffff; }

.coursenav ul ul a:hover, .coursenav ul ul div:hover { color: white; }


/*.coursenav ul ul li { border-bottom: 1px solid #F58635; }*/

/*.coursenav ul ul li:hover > a, .coursenav ul ul li:hover > div {
  background: #29ABE2;
  color: #ffffff;
}*/

.coursenav.align-right > ul > li > a , .coursenav.align-right > ul > li > div {
  border-left: 0.3em solid #34A65F;
  border-right: none;
}

.coursenav.align-right { float: right; }

.coursenav.align-right li { text-align: right; }

.coursenav.align-right ul li.has-sub > a:before,
.coursenav.align-right ul li.has-sub > div:before {
  content: '+';
  position: absolute;
  top: 50%;
  left: 15px;
  margin-top: -6px;
}

.coursenav.align-right ul li.has-sub > a:after,
.coursenav.align-right ul li.has-sub > div:after
{ content: none; }

.coursenav.align-right ul ul {
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: 598;
  width: 100%;
}

.coursenav.align-right ul ul li.first {
  -webkit-border-radius: 3px 0 0 0;
  -moz-border-radius: 3px 0 0 0;
  border-radius: 3px 0 0 0;
}

.coursenav.align-right ul ul li.last {
  -webkit-border-radius: 0 0 0 3px;
  -moz-border-radius: 0 0 0 3px;
  border-radius: 0 0 0 3px;
}

.coursenav.align-right ul ul {
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.coursenav-tile{
  text-align: left;
  font-size: 12px;
}
.coursenav-tile >span{
  overflow: wrap;
  max-width: 80%;
}
.coursenav-download{
  cursor: pointer;
  float:right;
  line-height: inherit;
}
.coursenav-download :hover{
  background: #F2F2F2;
}
/** css for side nav ends **/

.bg-white {
  background-color: white;
}

.illustration {
  max-height: 350px;
  max-width:100%
}
.custom-input {
  border-radius: 2px;
  max-width: 350px;
}

@media only screen and (max-width: 768px) {
.illustration {
  height: 150px;
}
  .nopadding {
    padding: 0;
  }
}

input[type=checkbox].css-checkbox {
  position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
  padding-left:30px;
  height:20px;
  display:inline-block;
  line-height:20px;
  background-repeat:no-repeat;
  background-position: 0 0;
  font-size:14px;
  vertical-align:middle;
  cursor:pointer;

}

input[type=checkbox].css-checkbox:checked + label.css-label {
  background-position: 0 -20px;
}
label.css-label {
  background-image:url(http://csscheckbox.com/checkboxes/u/csscheckbox_490b7ac6598bb6e25d0681c50e958cda.png);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus
input:-webkit-autofill,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus{
  -webkit-box-shadow: 0 0 0px 1000px white inset;
}

.myarrow {
  float:right;
  color: #C7C7C7;
}

/** css for side nav ends **/

/** media queries **/
.coursenav-menu-collapse{
  visibility: hidden;
  width: 0px;
  height: 0px;
}
.coursenav-menu-collapse-container{
  display: none;
  width: 0px;
  height: 0px;
}
.pdf-container{
  width:100%; height:450px;
}
@media screen and (max-width: 768px) {
  #coursenav-container{
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  #headernav-container{
    visibility: hidden;
    width: 0px;
    height: 0px;
  }
  .courseview-title{
    position: fixed;
    top: 80px;
    width: 90%;
    left: 70px;

    height: 50px;
    background: white;
    vertical-align: middle;
    line-height: 50px;
    display: flex;
    margin-bottom: 10px;
  }
  .coursenav-menu-collapse{
    visibility: visible;
    position: fixed;
    top: 84px;
    left: 14px;
    font-size: 250%;
  }
  .coursenav-menu-collapse-container{
    display: block;
    position: relative;
    z-index: 600;
    top: 35px;
    right: 14px;
    font-size: 250%;
    width: 55%;
  }
  .coursenav ul li{
    line-height: 0.5em;
  }
  .pdf-container{
    width: 100%;
    height: 450px;
    position: absolute;
    top: 50px;
    left: 0px;
  }
}

.myicon:hover {
  transform: scale(1.4);
}

.click {
  cursor: pointer;
}

.nav-item {
  padding-left: 5px;
  padding-right: 5px;
  color: #29ABE2;
  text-decoration: underline;
}

.underline {
  text-decoration: underline;
}

.profile-dropdown {
  position: relative;
}
