<h1>Hi {{name}}</h1>

Welcome to Vidyanext Revision Buddy !!!

You can access the site @ <a href="http://revise.vidyanext.com"> Revise </a>

Your username is {{username}} and password is {{password}}


Regards,
Vidyanext
